/* ===== CSS Variables ===== */
:root {
  /* Fonts */
  --font-primary: "adobe-jenson-pro", serif;
  --font-secondary: "Duru Sans", sans-serif;

  --color-bg: #f4efe6;
  --color-text: #1a1a1a;
  --color-accent: #5b7285;
  --color-button: #7a3e38;
  --container-width: 1200px;
  --container-padding: 1rem;

  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-base: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.5rem;
  --font-size-2xl: 2rem;
  --font-size-3xl: 2.5rem;

  --font-weight-bold: 700;

  /* Spacing */
  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;
  --spacing-xl: 2rem;
  --spacing-2xl: 3rem;
  --spacing-3xl: 4rem;

  /* Line Heights */
  --line-height-tight: 1.2;
  --line-height-normal: 1.5;
  --line-height-relaxed: 1.75;
}

/* ===== Mutual Styles ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-secondary);
  font-size: var(--font-size-base);
  line-height: var(--line-height-normal);
  background-color: var(--color-bg);
  color: var(--color-text);
}

h1,
h2,
h3 {
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-tight);
  margin-bottom: var(--spacing-lg);
  font-family: var(--font-primary);
}

h1 {
  font-size: var(--font-size-3xl);
}

h2 {
  font-size: var(--font-size-2xl);
}

h3 {
  font-size: var(--font-size-xl);
}

p {
  margin-bottom: var(--spacing-md);
  line-height: var(--line-height-relaxed);
}

a {
  text-decoration: none;
}

button,
input,
textarea,
select {
  font-family: var(--font-secondary);
  font-size: var(--font-size-base);
}

.container {
  width: min(100% - (var(--container-padding) * 2), var(--container-width));
  margin-inline: auto;
}

@media (min-width: 768px) {
  :root {
    --font-size-3xl: 3rem;
    --container-padding: 2rem;
  }
}
