<header class="site-header">
    <div class="container header-content">

        <a href="/index.html" class="logo">
            Lachlan Ryan
        </a>

        <nav class="main-nav">

            <a href="/portfolio/portfolio.html">Portfolio</a>

            <div class="dropdown">
                <span class="dropdown-toggle">Themes</span>

                <div class="dropdown-menu">
                    <a href="/portfolio/theme2.html">Theme 2</a>
                    <a href="/portfolio/theme3.html">Theme 3</a>
                    <a href="/portfolio/theme4.html">Theme 4</a>
                    <a href="/portfolio/theme5.html">Theme 5</a>
                </div>
            </div>

            <a href="/about/about.html">About</a>

            <a href="/contact/contact.html">Contact</a>

        </nav>

    </div>
</header>
